/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

ul {
    list-style-type: none;
}

/* Header */

header {
<<<<<<< HEAD
    background-image: url(./img/home_container_table.jpg);
    background-position: center;

=======
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.9);
>>>>>>> Branch-di-Luca-G
}

.header-link-container {
    padding: 1rem;
    display: flex;
    gap: 2rem;
    margin-bottom: 0px;
}

.header-link {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
}

.header-link:hover {
    padding-bottom: 15px;
<<<<<<< HEAD
    border-bottom: 4px solid black;
=======
    border-bottom: 4px solid white;
>>>>>>> Branch-di-Luca-G

}

.active {
    color: skyblue;
}

/* HomePage */

main {
    background-image: url(./img/home-main-floor.webp);
}

<<<<<<< HEAD
.hero-section {
    background-color: aqua;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

=======
>>>>>>> Branch-di-Luca-G
.home-container {
    background-color: brown;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 4rem;
    background-image: url(./img/home_container_table.avif);
<<<<<<< HEAD
    margin-top: 2rem;
=======

>>>>>>> Branch-di-Luca-G
    margin-bottom: 2rem;
    border-radius: 20px;
}

<<<<<<< HEAD
=======
.home-subtitle {
    text-align: center;
    margin-top: 1rem;
}

>>>>>>> Branch-di-Luca-G
.card-container {
    flex-basis: calc((100% - 10rem) / 5);
    aspect-ratio: 14 / 17;
    border: 2px solid black;
    background-color: white;
    border-radius: 20px;
    transition: 0.3s;
}

.card-container:hover {
    scale: 1.1;
}

.img-container {
    height: 60%;
    padding: 0.3rem;
}

.text-container {
    height: 40%;
    text-align: center;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-image {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px solid black;
}

.card-link {
    text-decoration: none;
    color: black;

}

.card-price {
    font-weight: bold;
}

<<<<<<< HEAD
/* RegionPage */

.region-container {
    background-color: brown;
=======
/* HeroSection */

.hero-section {
    background-color: #1C2027;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 3rem;
}

.hero-button {
    flex: 0 0 auto;
    color: white;
    background-color: #1C2027;
    border: none;
    font-size: 10rem;
    cursor: pointer;
    z-index: 2;
}

.hero-container {
    flex: 0 0 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-link {
    width: 100%;
    height: 430px;
    display: block;
    text-decoration: none;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s;
    display: block;
    border-radius: 10px;
}

/* RegionPage */

.region-container {
>>>>>>> Branch-di-Luca-G
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 4rem;
    background-image: url(./img/region-container-board.avif);
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 20px;
}

.region-card-container {
    flex-basis: calc((100% - 10rem) / 5);
    aspect-ratio: 1 / 1;
    border: 2px solid black;
    background-color: white;
    border-radius: 20px;
    transition: 0.3s;
}

.region-card-container:hover {
    transform: rotate(20deg);
}

.region-img-container {
    height: 90%;
    padding: 0.3rem;
}

.region-text-container {
    height: 10%;
    display: flex;
    justify-content: center;
    font-weight: 900;
    padding: 0.2rem;
}

/* Footer */

footer {
    background-color: chartreuse;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

/* Loader */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;

    .spinner-border {
        width: 200px;
        height: 200px;
        font-size: 2rem;
    }
}